html {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

* {
    color: #111;
    font-family: Arial;
    scroll-margin-top: 45px;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 3px double #111;
}

.sidenav header {
    text-align: center;
    display: block;
    padding: 20px 0 0 0;
}

.sidenav ul li {
    border-top: 3px double #111;
}

.sidenav a {
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 30px;
}

.sidenav ul {
    list-style: none;
    padding: 0;
}

#main-doc {
    width: calc(80% -20px);
    margin-left: 20%;
    padding: 20px;
}

header {
    font-size: 30px;
    font-weight: 500;
}

.main-section:first-of-type{
    margin-top: -5px;
}

.main-section {
    margin: 40px 0 40px 15px;
}

.main-section ul li {
    margin-top: 8px;
}

.indent {
    text-indent: 20px;
}

.indent-bul {
    margin-left: 40px;
}

pre {
    background-color: rgb(240, 240, 240);
    width: 80%;
    border-radius: 5px;
    margin-left: 30px;
}

.main-section p:first-of-type {
    margin-top: 10px;
}

p {
    margin: 8px;
}

.green {
    color: green
}

div.br {
    width: 98%;
    height: 0;
    display:block;
    margin: 0 auto;
    border-bottom: 3px double #111;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    border: 0;
    margin: 0;
    width: 100%;
}

tr.gray {
    background-color: lightgray;
}

.box {
    padding: 10px;
    text-align: center;
}

div.tab {
    margin: 20px 0 0 40px;
    border: 1px solid lightgray;
    padding: 0;
    width: 50%;
}